body {
    background-color: rgb(178, 231, 252);
}

h1:hover {
    background-color: aqua;
}

.main {
    width: 80%;
    margin: 2rem auto 0 auto;
    background-color: #ffff;
    padding: 2rem;
    text-align: center;
}

.nav {
    border: #000 solid 2px;
    width: 40%;
    margin: 0 auto;
    padding: 1rem;
    
}

.nav a {
    margin: 0 1rem;
}

.nav:hover {
    background-color: #000;
    color: #ffff;
}

/*
.nav a:visited {
    color: chartreuse;
}
*/

.paragraph1 {
    color: indigo;
}

.article {
    text-align: left;
    margin-top: 2rem;
}

.article img {
    float: left;
    margin-right: 1rem;
}

.article p,
.article2 p {
    overflow: auto;
}

.article2 img {
    float: right;
    margin-left: 1rem;
}

.footer {
    background-color: coral;
    padding: 2px;
}